html,body,#root,.App {
  height: 100%;
}
.App .nav {
  float:left;
  width: 20%;
  background-color: #F2F2F2;
  height: 100%;
}
.App .nav a {
  color: #B3B3B3;
  text-decoration: none;
}
.App .content {
  margin-left: 20%;
  padding:1em;
}
ul.ul_Menu {
  list-style: none;
  text-align: center;
  margin-left: -40px;
  font-size: 0.7em;
  height: 100%;
}
ul > li{
  margin-top: 20%;
  margin-bottom: 20%;
}
li > a > img{
  width: 25px;
  height: 25px;
}